.logo {
  position: relative;
  cursor: pointer;
  transition: transform 200ms;
}

.logo:hover {
  transform: scale(0.9);
}

/* Inner Circle  */

.logo::before {
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  background: linear-gradient(#3182ce30, #ffffff10);
  border-radius: 50%;
  transition: all 250ms;
}

.logo:hover::before {
  height: 50px;
  width: 50px;
  opacity: 1;
  transition: all 250ms;
}
